# Datos de MongoDB 
#Database > clusters > (en la pantalla de clusters) connect > Drivers > y te sale algo asi: MONGO_URI=mongodb+srv://rubgom05:<db_password>@cluster0.9zmet4b.mongodb.net/FootballMind
MONGO_URI=

# Clave secreta para la sesión (es una contraseña, se puede poner cualquiera)
SESSION_SECRET=

# Puerto de la aplicación
PORT=3000