<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <META NAME="viewport" contente="width=device-width, initial-scale=1.0">
            <title>FootballMind, bienvenido</title>
    </head>
    <body>
        <div class="container">
            <h1>FootballMind</h1>
            <p>Para poder continuar es necesario estar registrado</p>
            
            <form action="/login" method="POST">
                <div>
                    <label for="username">Usuario:</label><br>
                    <input type="text" id="username" name="username" required>
                </div>
                <div>
                    <label for="password">Contraseña:</label><br>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Iniciar Sesión</button>
            </form>

            <hr>

            <p>¿No tienes cuenta?</p>
            <a href="/register" target ="_blank">
                <button>Registrarse</button>
            </a>
        </div>
    </body>
</html>