<%- include('partials/head', {title: 'Menú de inicio del juego'}) %>
<header>
  <%- include('partials/navbar') %>
</header>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            
        </div>
    </div>
</div>