<%- include('partials/head', {title: 'Partidas'}) %>
<body>
    <div class="container mt-5 text-center">
        <h1 class="mb-4">FootballMind</h1>
        <p class="mb-5">Cree una nueva partida o elija alguna partida guardada</p>

        <div class="d-flex justify-content-center gap-4">
            <a href="/crearPartida" class="btn btn-success btn-lg">Nueva Partida</a>
            <a href="/listarPartidas" class="btn btn-primary btn-lg">Cargar Partida</a>
        </div>
    </div>
</body>
</html>
